<ion-header>
  <ion-toolbar>
    <ion-title>Atumalaca 2.0 😎</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="play('atumalaca')" [disabled]="atumalaca" class="audio-button" expand="block"
                    fill="outline" size="large"> Atumalaca 🤣
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="play('cavalo')" [disabled]="cavalo" class="audio-button" expand="block" fill="outline"
                    size="large"> Cavalo 🐎
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button (click)="play('tome')" [disabled]="tome" class="audio-button" expand="block" fill="outline"
                    size="large"> Tome 💥
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="play('demais')" [disabled]="demais" class="audio-button" expand="block" fill="outline"
                    size="large"> Demaaaaais 😳
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button (click)="play('abrubra')" [disabled]="abrubra" class="audio-button" expand="block" fill="outline"
                    size="large"> Abrubra
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="play('ai')" [disabled]="ai" class="audio-button" expand="block" fill="outline"
                    size="large"> Ai
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button (click)="play('ai-mamae-ai-meu-deus')" [disabled]="aiMamaeAiMeuDeus" class="audio-button"
                    expand="block" fill="outline"
                    size="large"> Ai Mamae Ai Meu Deus
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="play('aiaiai')" [disabled]="aiaiai" class="audio-button" expand="block" fill="outline"
                    size="large"> Aiaiai
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button (click)="play('ain-gostei')" [disabled]="ainGostei" class="audio-button" expand="block"
                    fill="outline"
                    size="large"> Ain Gostei
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="play('aow-potencia')" [disabled]="aowPotencia" class="audio-button" expand="block"
                    fill="outline"
                    size="large"> Aow Potencia
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button (click)="play('ata')" [disabled]="ata" class="audio-button" expand="block" fill="outline"
                    size="large"> Ata
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="play('chega')" [disabled]="chega" class="audio-button" expand="block" fill="outline"
                    size="large"> Cheeeega
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button (click)="play('danca-gatinho')" [disabled]="dancaGatinho" class="audio-button" expand="block"
                    fill="outline"
                    size="large"> Danca Gatinho
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="play('eh-brincadeira')" [disabled]="ehBrincadeira" class="audio-button" expand="block"
                    fill="outline"
                    size="large"> É Brincadeira
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button (click)="play('ele-gosta')" [disabled]="eleGosta" class="audio-button" expand="block" fill="outline"
                    size="large"> Ele Gosta
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="play('fico-bao-nao')" [disabled]="ficoBaoNao" class="audio-button" expand="block"
                    fill="outline"
                    size="large"> Fico Bão Não
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button (click)="play('irra')" [disabled]="irra" class="audio-button" expand="block" fill="outline"
                    size="large"> Iiiirra
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="play('nao')" [disabled]="nao" class="audio-button" expand="block" fill="outline"
                    size="large"> Não
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button (click)="play('okay-okay')" [disabled]="okayOkay" class="audio-button" expand="block" fill="outline"
                    size="large"> Okay Okay
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="play('pare')" [disabled]="pare" class="audio-button" expand="block" fill="outline"
                    size="large"> Pare
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button (click)="play('qimfc')" [disabled]="qimfc" class="audio-button" expand="block" fill="outline"
                    size="large"> Que isso <br> meu filho, Calma!
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="play('que-cara-sem-graca')" [disabled]="queCaraSemGraca" class="audio-button"
                    expand="block" fill="outline"
                    size="large"> Que Cara Sem Graca
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button (click)="play('que-papelao-hein')" [disabled]="quePapelaoHein" class="audio-button" expand="block"
                    fill="outline"
                    size="large"> Que Papelao Hein
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="play('tao-ta-bom')" [disabled]="taoTaBom" class="audio-button" expand="block"
                    fill="outline"
                    size="large"> Tao Ta Bom
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button (click)="play('tapa')" [disabled]="tapa" class="audio-button" expand="block" fill="outline"
                    size="large"> Tapa
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="play('uh')" [disabled]="uh" class="audio-button" expand="block" fill="outline"
                    size="large"> Uh
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button (click)="play('uuuui')" [disabled]="uuuui" class="audio-button" expand="block" fill="outline"
                    size="large"> Uuuui
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="play('vamo-danca')" [disabled]="vamoDanca" class="audio-button" expand="block"
                    fill="outline"
                    size="large"> Vamo Danca
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button (click)="play('xiii')" [disabled]="xiii" class="audio-button" expand="block" fill="outline"
                    size="large"> Xiii
        </ion-button>
      </ion-col>
      <!--      <ion-col size="6">-->
      <!--        <ion-button (click)="play('demais')" [disabled]="demais" class="audio-button" expand="block" fill="outline"-->
      <!--                    size="large"> Demaaaaais 😳-->
      <!--        </ion-button>-->
      <!--      </ion-col>-->
    </ion-row>


  </ion-grid>

</ion-content>
