<ion-header>
  <ion-toolbar>
    <ion-title>Atumalaca 2.0 😎</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="play('atumalaca')" class="audio-button" expand="block" fill="outline" size="large">
          Atumalaca 🤣
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="play('cavalo')" class="audio-button" expand="block" fill="outline" size="large">
          Cavalo 🐎
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button (click)="play('tome')" class="audio-button" expand="block" fill="outline" size="large">
          Tome 💥
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="play('demais')" class="audio-button" expand="block" fill="outline" size="large">
          Demaaaaais 😳
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-grid>

</ion-content>
